
/*img{
    background-color: #ddd;
    border-radius: 100%;
    height: 200px;
    object-fit: cover;
    width: 200px;
    margin-top: 50px;
}
*/
#fotoPerfil{
    margin-top: 50px;
    margin-bottom: 50px;
}
/*.content{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}*/

/*Voltar ao Topo
#subir{
	position:fixed;
	bottom:0px;
	right:0px;
}*/

/*TESTE
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}*/
section {
    /*height: <valor>; Tamanho da Section*/
    background-image: linear-gradient(white, rgb(222, 230, 230));
}
/*
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    text-decoration: none;

}
.btn::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;

}
.btn:hover::after {
    margin-top:-8px;
}
/*Layout page*/

/* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}*/

/* Style the side navigation 
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    
}
*/
  
/* Side navigation links
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    
}
.sidenavItem{
    margin-top: 50px;
}
*/

/* Change color on hover 
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}*/
  
/* Style the content 
.content {
    margin-left: 200px;
    padding-left: 20px;
}*/

/*Format Skills
.formatSkills{
    text-align: center;
    margin-top: 200px;

}
.formatCourse{
    text-align: center;
    margin-top: 200px;
}
.formatContact{
    text-align: center;
    margin-top: 200px;

}
*/