#fotoPerfil{
    margin-top: 50px;
    margin-bottom: 50px;
}
.content{
    text-align: center;
}
section {
    /*height: <valor>; Tamanho da Section*/
    background-image: linear-gradient(white, rgb(222, 230, 230));
}
/*Layout page*/
* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/*Format Skills*/
.formatSkills{
    text-align: center;
    margin-top: 200px;
}
.formatCourse{
    text-align: center;
    margin-top: 200px;
}
.formatContact{
    text-align: center;
    margin-top: 200px;
}
/*Back to top*/
#subirTopo {
    text-decoration: none;
    margin: 30px;
    background: rgba(30,156,161,.9);
    display:block;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
}
